JWT_SECRET=replace-with-a-long-random-secret

DB_USER=your_user
DB_PASSWORD=your_pass
DB_NAME=your_db_name

PAYMENTS_DB_USER=your_user
PAYMENTS_DB_PASSWORD=your_pass
PAYMENTS_DB_NAME=your_db_name

RABBIT_USER=your_rabbit_user
RABBIT_PASSWORD=guest

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

PAYMENTS_GRPC_PORT=50051
PORT=8080